table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 50%;
    font-family: arial;
}
table th,td{
    border: 1px solid black;
} 
td,th{
    text-align: center;
    padding: 7px;
    width: 25%;
}
tr:nth-child(odd){
    background-color: #D5F3FE;
}
tr:nth-child(even){
    background-color: lightskyblue;
    color: white;
}
th{
    background-color: #2565AE;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}